@import "~tz-library/style/base";
@import "~tz-library/style/mobile.media";
#container{
  position: relative;
  max-width: 20rem;
  margin: 0 auto;
}
#container>div{
  height: 100vh;
  overflow-y: auto;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #2e29ff;
}